.bg-dark{


    background-color: black;
}
.car img{

    width: 20%;
}
.car{
    animation-name: fastCar ;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes fastCar {
    from {
        transform: translatex(1800px);
    }
   

    
    
}