body {
background-color: #860b72c0;
}



.contact-section {
    display: inline-block;
    margin: 50px 25%;
    box-shadow: 4px 4px 8px rgba(10,10, 10,10.10);
    width: 50%;
    border-radius: 25px;

}




.left-container {
    width: 50%;
    float: left;
    padding: 9.25%;
    box-sizing: border-box;
    background-color: #0cafb4;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   
}
.left-container * {
    text-align: center;
    margin-bottom: 20px;
}

.left-container h1 {
    text-align: center;
    margin-top: 75px
    
}

.left-container p {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
}


.right-container {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.right-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.right-container h4{
    font-weight: lighter;
    font-size: 12px;
}
.right-container input[type="text"],
.right-container input[type="email"],
.right-container input[type="phone"],
.right-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}


.right-container button {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    background-color: #0cafb4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;

}

.google-sans * 
{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}